body{
    background: black;
    margin: 0;
    padding: 0;
}

#board{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    width: 30rem;
    margin: 0 auto;
    margin-top: 6rem; /*Before it was 12rem*/
    height: 30rem;
    cursor: pointer;
}


#announceWinner{
    background: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 10rem;
}

#winnerText{
    color: white;
    font-family: 'Merienda One','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 3rem;
}

#header{
    font-size: 6rem;
}

.board-space{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    border-color: white;
    margin: 0;
    padding: 0;
}

.token{
    position: fixed;
    font-size: 7rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.token:hover{
    font-weight: bolder;
    font-size: 7.5rem;
    margin-top: 7rem;
}

#restart{
    color: red;
    text-decoration: none;
}